* {
  box-sizing: border-box;
  font-family: "Lobster Two";
}

body {
  padding: 2em;
  background-color: #00AECC;
}

.page-top {
  background: #0079BF;
  width: 100%;
  position: absolute;
  height: 50px;
  top: 0;
  left: 0;
}

.heart {
  position: absolute;
  margin: auto;
  left: 35px;
  right: 0;
  margin: 5px;
}

.tooltip {
  display: inline-block;
  border-radius: 3px;
  transition-duration: 0.5s;
}

.tooltip:hover i {
  color: #EB5A46;
  transition-duration: 0.5s;
}

.tooltip i {
  transition-duration: 0.5s;
  text-align: center;
  line-height: 45px;
  width: 40px;
  height: 50px;
  color: white;
  font-size: 16pt;
}

i:hover + span {
  display: block;
}

i span {
  display: ;
  position: absolute;
  top: 7px;
  left: 53px;
  width: 130px;
  line-height: 30px;
  padding: 0px;
  z-index: 100;
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Helvetica', sans-serif;
  background: rgba(255, 255, 255, .3);
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

i span:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid rgba(255, 255, 255, .3);
  left: -8px;
  top: 7px;
}

.header-logo {
  background-image: url(https://d78fikflryjgj.cloudfront.net/images/50b4ebc64391dc394a38e73aed57f0e2/header-logo.png);
  background-repeat: no-repeat;
  background-size: 80px 30px;
  height: 30px;
  position: absolute;
  right: 0;
  left: 0;
  top: 10px;
  width: 80px;
  margin: auto;
}

.logo {
  background-image: url(https://d78fikflryjgj.cloudfront.net/images/50b4ebc64391dc394a38e73aed57f0e2/header-logo.png);
  background-repeat: no-repeat;
  background-size: 145px 47px ;
  left: 0;
  top: -1px;
  margin: auto;
  position: absolute;
}

.labels {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.page-top {
  background: #0079BF;
  width: 100%;
  position: absolute;
  height: 50px;
  top: 0;
  left: 0;
}

.heart {
  position: absolute;
  margin: auto;
  left: 35px;
  right: 0;
  margin: 5px;
}

.tooltip {
  display: inline-block;
  border-radius: 3px;
  transition-duration: 0.5s;
}

.tooltip:hover i {
  color: #EB5A46;
  transition-duration: 0.5s;
}

.tooltip i {
  transition-duration: 0.5s;
  text-align: center;
  line-height: 45px;
  width: 40px;
  height: 50px;
  color: white;
  font-size: 16pt;
}

i:hover + span {
  display: block;
}

i span {
  display: ;
  position: absolute;
  top: 7px;
  left: 53px;
  width: 130px;
  line-height: 30px;
  padding: 0px;
  z-index: 100;
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Helvetica', sans-serif;
  background: rgba(255, 255, 255, .3);
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

i span:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid rgba(255, 255, 255, .3);
  left: -8px;
  top: 7px;
}

.header-logo {
  background-image: url(https://d78fikflryjgj.cloudfront.net/images/50b4ebc64391dc394a38e73aed57f0e2/header-logo.png);
  background-repeat: no-repeat;
  background-size: 80px 30px;
  height: 30px;
  position: absolute;
  right: 0;
  left: 0;
  top: 10px;
  width: 80px;
  margin: auto;
}

.logo {
  background-image: url(https://d78fikflryjgj.cloudfront.net/images/50b4ebc64391dc394a38e73aed57f0e2/header-logo.png);
  background-repeat: no-repeat;
  background-size: 145px 47px ;
  left: 0;
  top: -1px;
  margin: auto;
  position: absolute;
}

#contenedorPadre {
  margin-top: 40px;
}

form {
  display: inline-block;
}

.añadir{
  padding: 10px 40px;
  background-color: rgba(0,0,0,0.4);
  display: inline-block;
  margin-left: 13px;
}

.añadir:hover{
  background-color: rgba(0,0,0,0.8);
}

.form{
  background-color: #CDD2D4;
  padding: 4px;
  border-radius: 5px;
  margin-left: 3px;
  vertical-align: top;

}

.button:hover{
  background-color: #57A641;
}

.button {
  background-color: #61BD4F;
  padding: 10px 20px;
  margin-top: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.form, .añadir {
  margin-bottom: 5px;
}

.añadir, .button {
  border: none;
  color: white;
  font-size: 1em;
  border-radius: 5px;
}

.none{
  display: none;
}

.form input{
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 8px inset;
  background-color: rgba(0, 0, 0, 0.0470588);
  padding: 10px;
  border-radius: 5px;
  border-color: rgb(170, 170, 170);
  font-size: 1em;
  display: block;
  vertical-align: top;
}

.cerrar{
  float: none;
  font-size: 1em;
  margin: 3px 9px;
}

.padding {
  padding: 10px 40px 10px 20px;
}

.titulo {
  font-weight: bold;
  text-decoration: none;
  background-color: #CDD2D4;
  color: black;
}

.subTitulos a{
  color: white;
}

.subTitulos:hover{
  background-color: grey;
  text-decoration: underline;
}

.subTitulos:hover a{
  color: white;
}

.inline-block {
  display: inline-block;
}

.papa {
  display: inline-block;
  height: auto;
  vertical-align: top;
}

.textArea{
  border-radius: 5px;
  font-size: 1em;
  display: block;
}

.texto {
  padding: 5px;
  background-color: white;
  margin-top: 10px;
}

.texto:hover{
  background-color: #CDD2D4;
}

.o-auto {
  overflow: auto;
}

.saltos {
  word-wrap: break-word;
}

.auto{
  height: auto;
  background-color: #57A641;
}

.dragstar{
  background-color: white;
}

.dragenter{
  background-color: #00AECC;
  border-color: 2px solid white;
}

.dragover{
  border: 1px dashed black;
}